@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --font-dot: "Tiny5", monospace;

  --breakpoint-xs: 30rem;

  --animate-spin-slow: spin 2.2s linear infinite;

  --color-accent: #00b7f2;
}

@utility content {
  @apply bg-white text-black dark:bg-gray-950 dark:text-white;
}

@utility content-menu {
  @apply bg-gray-200/70 text-black dark:bg-gray-950/70 dark:text-white backdrop-blur-sm;
}

@utility bg-c1 {
  @apply bg-gray-100 dark:bg-gray-800;
}

@utility hover-bg-c1 {
  @apply hover:bg-gray-950/10 dark:hover:bg-white/10;
}

@utility border-c1 {
  @apply border-gray-950 dark:border-white;
}

@utility border-c2 {
  @apply border-gray-950/30 dark:border-white/30;
}

@utility fill-c1 {
  @apply fill-gray-950/30 dark:fill-white/30;
}

@utility outline-c1 {
  @apply outline-gray-950/30 dark:outline-white/30;
}

@utility btn {
  @apply py-2 px-4 rounded-md bg-gray-950 dark:bg-white text-white dark:text-gray-950 hover:opacity-90 hover:cursor-pointer;
}

html,
body {
  @apply content;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.wrapper {
  @apply flex min-h-screen flex-col;
  main {
    @apply flex-grow;
  }
  aside {
    @apply h-screen min-w-60;
  }
}

.profile {
  ul.links {
    @apply flex flex-wrap gap-y-2 gap-x-2.5 text-sm;

    li {
      @apply flex justify-center items-center;

      a {
        @apply border-2 border-c1 rounded-full flex items-center justify-center h-7.5 hover:opacity-90;
      }

      a.icon {
        @apply w-7.5;
      }

      a.url {
        @apply w-auto pl-2 pr-2.5;
        svg {
          @apply mr-0.5;
        }
      }
    }
  }
  ul.lists {
    @apply w-full border-c1 border-t;

    li {
      @apply h-14 border-c1 border-b;
      a {
        @apply flex items-center justify-between h-full px-2.5;
        span {
          @apply text-sm;
        }
        &:hover {
          @apply hover-bg-c1;
        }
      }
    }
  }
}

a.pop {
  @apply flex items-center-safe justify-center space-x-2;
}

.pricetag {
  @apply inline-flex text-nowrap text-base py-2 pl-7 pr-9 h-10 rounded-sm font-bold bg-gray-600 dark:bg-gray-400 text-white dark:text-gray-950 relative;

  .triangle {
    @apply absolute content-[''] bg-gray-600 dark:bg-gray-400 rotate-45 rounded-sm;

    right: -12.25px;
    top: 5px;
    width: 28.5px;
    height: 28.5px;
  }

  .hole {
    @apply absolute content-[''] rounded-full w-2 h-2 top-4 -right-[1px] bg-white dark:bg-gray-950;
  }
}

input,
textarea {
  @apply border border-c1 rounded-sm py-1 px-2.5;
}

input:read-only {
  @apply bg-gray-100 dark:bg-gray-800;
}

hr.dashed {
  @apply border-dashed border-t-1 border-c1;
}

.pill {
  @apply text-xs px-2 py-1 rounded-full bg-gray-100 dark:bg-gray-800 text-gray-950 dark:text-white ml-3;
}

@source "./routes";
@source "./components";
