@import "tailwindcss";

@theme {
  --font-sans: "Merriweather Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Merriweather", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;

  --breakpoint-xs: 30rem;

  --animate-spin-slow: spin 2.2s linear infinite;

  --color-accent: #00B7F2;
}

html,
body {
  @apply bg-white text-black dark:bg-gray-950 dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@source "./routes";
@source "./components";
